/* common shared styles*/
body{
    font-family: 'Open Sans', sans-serif;
    background-color: bisque;
}
.text-primary{
    color: orangered;
}

.btn-primary{
    border-radius: 5px;
    background-color: orangered;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
/*nav related style*/
ul{
    display: flex;
}
.nav-tittle{
    color: black;
    font-size: 45px;
    font-weight: 800;
}
nav li{
    list-style: none;
    margin-right:50px;
    text-decoration: none;
}
nav a{
    text-decoration: none;
}
.header{
    background-color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
}
.banner .profile-pic{
    width: 500px;
}
/* main section padding*/
.about{
    padding:130px;
    border-radius:10px;
    background-color:#FFF8F3 ;
    margin: 130px 0px;
}
.section-title{
    color: black;
    text-align: center;
    font-size: 35px;
    font-weight: 700px;
}
.section-description{
    color: black;
    text-align: center;
    font-size: 20pxpx;
}
main{
    max-width: 1140px;
    margin:0 auto;
}
.about-info-container{
    display: flex;
    justify-content: space-between

}
.about-info{
    text-align: center;
}

